<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccesoCTR</servlet-name>
        <servlet-class>Controladores.AccesoCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaCtr</servlet-name>
        <servlet-class>Controladores.PersonaCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoCtr</servlet-name>
        <servlet-class>Controladores.EmpleadoCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioCtr</servlet-name>
        <servlet-class>Controladores.UsuarioCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilCTR</servlet-name>
        <servlet-class>Controladores.PerfilCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaCTR</servlet-name>
        <servlet-class>Controladores.PersonaCTR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccesoCTR</servlet-name>
        <url-pattern>/AccesoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaCtr</servlet-name>
        <url-pattern>/PersonaCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoCtr</servlet-name>
        <url-pattern>/EmpleadoCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCtr</servlet-name>
        <url-pattern>/UsuarioCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilCTR</servlet-name>
        <url-pattern>/PerfilCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaCTR</servlet-name>
        <url-pattern>/PersonaCTR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
